.chat-message {
  padding: .5rem 1rem;
  width: 100%;
  overflow-wrap: break-word;
  font-family: var(--font-family-primary);
  font-weight: 400;
}

.chat-message--user {
  background-color: var(--user-message-bg);
  color: var(--user-message-text);
  width: 95%;
  border-radius: .6rem;
  white-space: break-spaces;
}

.chat-message--assistant {
  hyphens: auto;
}
