body {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 100dvh;
}

main {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

svg {
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar {
    width: .4rem;
    height: .4rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-bg-hover);
  }
}
