/* 
  Esta capa es para patrones de diseño y layout.
  Ejemplo: .wrapper, .grid-container, .media-object
  Actualmente no tenemos ninguno en este proyecto.
*/

.chat-history {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 1rem;
  width: 100%;
  max-width: 40rem;
  padding: 1rem 0;
}
