@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: JetBrainsVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../fonts/JetBrainsMonoVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/UcC73FwrK3iLTeHuS_fjbvMwCp504jAa1ZL7.woff2") format("woff2");
}*/

:root {
  --font-family-primary: 'Inter', sans-serif, system-ui;
  --font-family-code: 'JetBrainsMono', monospace, system-ui;

  --bg-primary: oklch(18.22% 0 0);
  --bg-secondary: oklch(23.50% 0 0);
  --text-primary: oklch(90.67% 0 0);
  --text-placeholder: oklch(52.78% 0 0);
  --border-default: oklch(32.11% 0 0);
  --border-hover: oklch(42.02% 0 0);

  --brand-default: oklch(48.54% 0.1326 261);
  --brand-muted: oklch(57.25% 0.1261 262.2);
  --brand-text: oklch(100.00% 0 0);
  --brand-warning: oklch(83.69% 0.1644 84.4);

  --brand-disabled-bg: oklch(34.62% 0.0736 256);
  --brand-disabled-text: oklch(64.24% 0.0447 253);

  --user-message-bg: oklch(28.50% 0 0);
  --user-message-text: oklch(100.00% 0 0);

  --scrollbar-track-bg: oklch(23.50% 0 0);
  --scrollbar-thumb-bg: oklch(40.91% 0 0);
  --scrollbar-thumb-bg-hover: oklch(53.13% 0 0);

  --table-header-bg: oklch(29.31% 0 0);
  --table-row-bg: oklch(25.20% 0 0);

  --switch-primary: var(--brand-default);
  --switch-track: var(--scrollbar-thumb-bg);
  --switch-track-hover: var(--scrollbar-thumb-bg-hover);
  --switch-thumb: var(--brand-text);
  --switch-thumb-shadow: rgb(0 0 0 / .35);
  --switch-focus-inner: color-mix(in oklch, var(--brand-default) 40%, transparent);
}

@supports (font-variation-settings: normal) {
  :root {
    --font-family-primary: InterVariable, sans-serif, system-ui;
    --font-family-code: JetBrainsVariable, monospace, system-ui;
  }
}
