@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: JetBrainsVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../fonts/JetBrainsMonoVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/UcC73FwrK3iLTeHuS_fjbvMwCp504jAa1ZL7.woff2") format("woff2");
}*/

:root {
  --font-family-primary: 'Inter', sans-serif, system-ui;
  --font-family-code: 'JetBrainsMono', monospace, system-ui;

  --bg-primary: #121212;
  --bg-secondary: #1e1e1e;
  --text-primary: #e0e0e0;
  --text-placeholder: #6b6b6b;
  --border-default: #333333;
  --border-hover: #4d4d4d;
  
  --brand-default: #315ca9;
  --brand-muted: #4e76c2;
  --brand-text: #ffffff;
  
  --brand-disabled-bg: #1e3a5f;
  --brand-disabled-text: #7a8fa8;
  
  --user-message-bg: #2a2a2a;
  --user-message-text: #ffffff;

  --scrollbar-track-bg: #1e1e1e;
  --scrollbar-thumb-bg: #4a4a4a;
  --scrollbar-thumb-bg-hover: #6c6c6c;

  --table-header-bg: #2c2c2c;
  --table-row-bg: #222222;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-family-primary: InterVariable, sans-serif, system-ui;
    --font-family-code: JetBrainsVariable, monospace, system-ui;
  }
}
